@font-face {
  font-family: 'Reckless Standard XL';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('https://raw.githubusercontent.com/VAULTED-APP/vaulted-assets/main/fonts/RecklessStandardXL-Light.woff2') format('woff2'),
       url('https://raw.githubusercontent.com/VAULTED-APP/vaulted-assets/main/fonts/RecklessStandardXL-Light.woff') format('woff');
}

@font-face {
  font-family: 'Matter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://raw.githubusercontent.com/VAULTED-APP/vaulted-assets/main/fonts/Matter-Regular.woff2') format('woff2'),
       url('https://raw.githubusercontent.com/VAULTED-APP/vaulted-assets/main/fonts/Matter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Matter Semi Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://raw.githubusercontent.com/VAULTED-APP/vaulted-assets/main/fonts/MatterSemiMono-Regular.woff2') format('woff2'),
       url('https://raw.githubusercontent.com/VAULTED-APP/vaulted-assets/main/fonts/MatterSemiMono-Regular.woff') format('woff');
}

@font-face {
  font-family: 'GT America Extended';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://raw.githubusercontent.com/VAULTED-APP/vaulted-assets/main/fonts/GT-America-Extended-Medium.woff2') format('woff2'),
       url('https://raw.githubusercontent.com/VAULTED-APP/vaulted-assets/main/fonts/GT-America-Extended-Medium.woff') format('woff');
}
